* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grid-width: 1200px;
    --header-color: #535285;
    --sidebar-color-light: rgb(95, 112, 148);
    --sidebar-color-dark: rgb(90, 85, 138);
    --button-color: rgb(211, 164, 164);
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #ddd;
    --default-font-size: 1.6rem;
}

html {
    font-size: 83.33%;
}

body {
    transition: all .4s;
}

body.sidenav {
    transform: translateX(200px);
}

.row {
    width: var(--grid-width);
}

.header {
    background-color: var(--header-color);
    color: var(--color-white);
    padding: 10rem;
    position: relative;
}

.header .header__nav {
    position: absolute;
    top: 10%;
    left: 2%;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all .3s;
    z-index: 100;
    cursor: pointer;
}

.header .header__nav:hover {
    background-color: var(--color-grey);
}

.header .header__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.sidebar {
    position: absolute;
    font-size: var(--default-font-size);
    background-color: var(--sidebar-color-light);
    color: var(--color-white);
    text-align: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    z-index: 100;
    transform: translateX(-100%);
}

.sidebar .sidebar__box {
    padding: 10rem 0rem;
}

.sidebar__box .sidebar__box-links {
    list-style: none;
}

.sidebar__box .sidebar__box-links .sidebar__box-link {
    padding: 1.5rem;
    display: block;
    border-top: 1px solid var(--color-grey);
    cursor: pointer;
    transition: all .4s;
}

.sidebar__box .sidebar__box-links .sidebar__box-link:hover {
    background-color: var(--sidebar-color-dark);
}

.btn, .btn:link, .btn:visited {
    padding: 1.3rem 2rem;
    border-radius: 0.5rem;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: var(--default-font-size);
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: all .3s;
}

.btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all .3s;
}

.btn:hover {
    transform: translateY(-.3rem);
}

.btn:hover::after {
    transform: scale(2);
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, .8);
    opacity: 0;
}

.btn.btn--modal {
    color: var(--color-white);
    background-color: var(--color-grey);
    border: 1px solid var(--color-white);
}

.btn.btn--modal::after {
    background-color: var(--color-grey);
}

.form__button {
    display: block;
    text-align: center;
    margin: 4.5rem 0;
}

.btn--default {
    background-color: var(--button-color);
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .3s;
}

.btn--default:hover {
    transform: translateY(-.5rem);
    box-shadow: 0rem 1rem 4rem var(--color-black, .2);
}

.btn--default:active {
    transform: translateY(.3rem);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    background-size: cover;
    z-index: 1000;
    display: none;
}

.modal.show-modal {
    display: block;
    animation-name: fade-in;
    animation-duration: .4s;
}

.modal__content {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--header-color);
    font-size: var(--default-font-size);
}

.modal__header {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 2rem;
}

.modal__body {
    color: var(--color-white);
    padding: 4rem 4rem 1rem 4rem;
}

.form .form__group > * {
    display: block;
    width: 100%;
}

.form .form__group .form__group--label {
    margin: 2rem 0;
}

.form .form__group .form__group--input {
    padding: .8rem;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}